Makefile
Makefile.in
aclocal.m4
autom4te.cache
configure
configure.cache
config.log
config.status
www
*~

# Files used/generated when running Savane locally
lib/MYMETA.json
lib/MYMETA.yml
local2/etc-savane/savane-dev-db.php
